.card-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  /* Switch Selector Styles */
  .switch-selector {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Full width */
    height: 50px;
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    height: 100%;
    transition: color 0.3s;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .option.active {
    color: #fff;
  }
  
  .selector {
    width: 50%;
    height: 100%;
    background-color: #4caf50;
    border-radius: 25px;
    transition: transform 0.3s;
  }
  
  .selector.shortlisted {
    transform: translateX(100%);
  }
  
  .selector.disqualified {
    transform: translateX(0%);
  }
  
  /* Align words in the selector */
  .option:nth-child(1) {
    text-align: left;
    padding-right: 500px;
  }
  
  .option:nth-child(2) {
    text-align: right;
    padding-left: 500px;
  }
  