.home-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A4D68;
  overflow: hidden;
}

.text-container {
  padding: 50px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-heading {
  font-size: 80px;
  position: relative;
  /* right: 150px; */
  width: 700px;
  font-weight: bolder;
  margin-bottom: 20px;
  padding-right: 20px;
}

.sub-heading {
  font-size: 36px;
  position: relative;
  /* right: 150px; */
  color: #fff;
  width: 700px;
  height: 200px;
  margin-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.input-group {
  margin-top: 20px;
}

.explore-btn {
  width: 200px;
  height: 70px;
  font-size: 25px;
  border-radius: 35px;
  padding: 10px 30px;
  background-color: #e6f2e6;
  color: #167494;
  border: none;
  cursor: pointer;
  position: relative;
  /* right: 100px; */
  left: 150px;
  bottom: 100px;
  transition: background-color 0.3s;
}
 

.explore-btn:hover {
  background-color: #2e6c7d;
  color: #fff;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  /* left: 150px; */
  bottom: 100px;
}

/* Carousel styles... */


/* Carousel */
.carousel-frame {
  width: 450px;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.carousel-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-img.active {
  opacity: 1;
}

/* Optional: Center the circular frame within the column */
.col-lg-6 {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

@media (max-width: 768px) {
  h1 {
      font-size: 28px;
  }
  .input-group {
      width: 100%;
  }
  input[type="text"] {
      padding: 8px 15px;
  }
  .btn-primary {
      padding: 8px 20px;
  }
}

.circle {

    width: 500px;
    height: 500px;
    background-color: rgba(206, 230, 244, 0.3); /* Adjust color and opacity */
    border-radius: 50%;
    position: relative;
  justify-content: center;
  align-items: center;
    /* top: 55%;
    left: 73%; */
    transform: translate(3%, 15%);
    z-index: -0.1; /* Position the circle behind other elements */
    
  
}
