.jobdesc-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
}

.sub-container {
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

h1  {
    align-items: center !important;
    text-align: center;
}

.job{
display: flex;
justify-content: center;
align-items: flex-start;
}

.left {
max-width: 100% !important;
display: flex;
flex-flow: column nowrap;
/* margin: 0 auto; */
padding: 20px;
background-color: white;
border-radius: 10px;
/* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.heading {
font-size: 40px;
margin-bottom: 20px;
}

.title input {
width: 100% !important;
float: left;
padding: 10px;
border: 1px solid #0A4D68;
margin-bottom: 10px;
margin-left: 25px;
margin-top: 10px;
border-radius: 4px !important;
box-shadow: 10px #ccc;
}

.desc textarea {
float: left;
margin-left: 25px;
width: 100%;
height: 100px;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #0A4D68;
border-radius: 5px;
/* box-shadow: 10px black; */
/* margin-right: 710px; */
}

#must-have-skills {
/* float: left; */
width: 100%;
height: '';
padding: 10px;
margin-bottom: 15px;
border: 1px solid #0A4D68;
border-radius: 5px;
}

#good-have-skills {
/* float: left; */
width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #0A4D68;
border-radius: 5px;
}
.image {
height: 20%;
width: 20%;
/* display: flex;
flex-flow: row wrap; */
/* margin-left: 800px; */
margin-top: 20px;
}
#min {
float: left;
width: 100%;
padding: 10px;
margin-left: 20px;
margin-bottom: 15px;
border: 1px solid #0A4D68;
border-radius: 5px;
}

.skills {
display: flex;
width: 100%;
flex-wrap: wrap;
margin-bottom: 7px;
/* margin-right: 25px; */
margin-left: 25px;
gap: 20px;
}

.skills textarea {
flex: 1;
margin-bottom: 10px;
height: 200px;
}

.min textarea {
clear: both;
}

/* .button-container {
display: flex;
justify-content: center;
margin-top: 20px;
} */

/* button {
position: relative !important;
right: 25% !important;
padding: 10px !important;
background-color: #322653 !important;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
margin-left: 25px;
}

button:hover {
background-color: #594e97;
} */

button {
padding: 10px;
background-color: #322653 !important;
color: #fff !important;
border: none;
border-radius: 5px !important;
cursor: pointer;
transition: background-color 0.3s !important;
}

.gen{
position: relative;
right: 25%;
width: 10%;
}
button:hover {
background-color: #2e515f !important;
}

button.continue:hover,
button.original:hover {
background-color: #2e515f !important;
}

.right textarea{
display: flex;
/* flex-flow: row nowrap; */
/* flex: 50%; */
align-items: flex-start;
margin-top: 20px;
width: 50%;
height: 200px;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #0A4D68 !important;
border-radius: 5px !important;
margin-left: 25px;
}

.right {
display: flex;
flex-direction: row;
margin-top: 10px;
/* margin-right: 20px; */
gap: 25px;
background-color: lightblue;
border-radius: 5px;
}

.bg {
flex: 1;
display: flex;
margin-top: 30px;
flex-flow: column nowrap;
gap: 20px;
}

.next{
/* margin-top: 10px; */
position: relative;
/* bottom: 10%; */
display: flex;
margin-top: 10px;
flex-direction: row;
height: 35px;
left: 25%; 
gap: 20px;
}

button.continue,
button.original {
padding: 15px auto;
background-color: #322653;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
width: 20%;
/* margin-left: 25px; */
}

@media (max-width: 90%) {
.skills {
    flex-direction: column;
}

/* .jobdesc, .right textarea{
    flex-flow: row nowrap;
} */
}