body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f5f5f5;
  }
  
  .login-container {
    width: 100vw;
  height: 100vh;
    max-width: 90%; /* Adjust the width as needed */
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
  }
  
  .forgot-password {
    text-align: right !important;
    margin-bottom: 10px;
    font-size: smaller;
  }
  
  .login-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
  }
  
  .login-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-container {
    margin-bottom: 20px;

  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .password-mismatch {
    color: #ff0000;
    font-size: smaller;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .forgot-password a {
    color: #999;
    text-decoration: none;
  }
  
  .sign-in-btn {
    width: 50%;
    padding: 12px;
    background-color: rgb(40, 103, 178);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sign-in-btn:hover {
    background-color: #1a68b7;
  }
  
  .or-divider {
    margin: 15px 0;
    font-weight: bold;
    color: #999;
  }
  
  .google-sign-in-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 12px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .google-sign-in-btn:hover {
    background-color: #f5f5f5;
    border-color: #999;
  }
  
  .google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .signup-link {
    margin-top: 20px;
  }
  
  .signup-link a {
    color: rgb(40, 103, 178);
    text-decoration: none;
  }
  
  .login-img {
    width: 550px;
    height: 650px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    border-radius: 40px;
  }
  
  .company-logo-container {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .company-logo {
    width: 120px;
    height: 30px;
    margin-right: 10px;
  }
  